.center-title {
  text-align: center;
}

.post-title {
  font-size: 28px;
  line-height: $base-line-height;
}

.pagenav {
  float: left;
  width: 15%;
  padding-top: 75px;
  position: fixed;
  margin-left: $spacing-unit * 3;
}
.pagenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#subnav {
  margin-left: $spacing-unit / 2;
  list-style-type: none;
}

.linkToTop {
  margin-top: 50px;
}

details {
  margin-bottom: $spacing-unit / 2;
}

.classtile {
  width: 27%;
  height: $base-line-height * 2em;
  border-radius: .5em;

  margin-left: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
  padding: $spacing-unit / 2;

  // to center align text vertically...
  line-height: $base-line-height * 2em;
  // ... and horizontally
  text-align: center;

  background-color: $grey-color-light;
  position: relative;
  float: left;

  cursor: pointer;
}
.classtile:hover {
  background-color: $grey-color-hover;
}

// make the tile a link
.classLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  z-index: 1;
}

h1, h2, h3, h4 {
  //font-family: 'Syne Tactile', cursive;
  font-family: 'Averia Libre', cursive;
  text-transform: uppercase;
}
h5 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Averia Libre', cursive;
  text-align: center;
}

blockquote {
  font-style: normal;
  font-size: 16px;
  color: black;
  background-color: $inset-blue;
  letter-spacing: normal;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 15px;
}
blockquote h5 {
  font-size: large;
  text-transform: uppercase;
  font-family: 'Averia Libre', cursive;
  text-align: left;
}

.formCard p, .formCard h4 {
  margin-bottom: 5px;
}
.formCard {
  margin: 1em 1.5em;
  padding: 15px;
}
.formCard, .air {
  background-color: $air-blue;
}