/**********************
* Bestiary Styles
***********************/
/* AC, etc. and Senses, etc. */
blockquote ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
}
/* stats */
table {
    margin: 15px 0px;
}
table, th, td {
    border: none !important;
    color: black;
}
th {
    background-color: rgba(0, 0, 255, 0) !important;
}
/* Abilities and Actions */
p, h3 {
    margin-top: 15px;
    margin-bottom: 0px;
}
blockquote {
    border-left: 0px;
}
/* descriptions outside stat block */
.description {
    margin-left: 30px !important;
    margin-bottom: 15px !important;
}
/* (sort of) fix image spacing */
img:not(.HBonly) {
    padding-top: 15px;
    margin-bottom: 0px;
}
p img:not(.HBonly) {
    padding-top: 30px;
}