<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="background mobile">
    <div class="wrapper mobile">
      <div class="nav-area section mobile">
        <nav class="navbar navbar-light">
          <a class="navbar-brand" href="#">Player's Handbook</a>
        </nav>
      </div>
      <div class="nav-area section mobile">
        <nav id="navbar-subsections-mobile" class="navbar navbar-light">
        </nav>
      </div>
    </div></div>

    <div class="nav-area section widescreen">
      <nav id="navbar-left" class="pagenav section navbar navbar-light">
        <a class="navbar-brand" href="#">Player's Handbook</a>
        <nav id="nav-sections" class="nav nav-pills flex-column">
        </nav>
      </nav>
    </div>
    <main id="main-scrollspy" class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="scrollspy-content">
        {{ content }}
        </div>
      </div>
    </main>
  <div class="nav-area right widescreen">
    <nav id="navbar-right" class="pagenav right navbar navbar-light">
      <nav id="nav-subsections" class="nav nav-pills">
      </nav>
    </nav>
  </div>

    {%- include footer.html -%}

  </body>

</html>

<script>
  {%- include js/scrollspy.js -%}
</script>