<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="background mobile">
    <div class="wrapper mobile">

      <div class="nav-area section mobile">
        <nav class="mobile-nav">
          <input type="checkbox" id="nav-triggerSection" class="nav-triggerSection" />
          <label for="nav-triggerSection">
            <span class="menu-icon">
              <svg viewBox="0 0 18 15" width="18px" height="15px">
                <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
              </svg>
            </span>
            <span class="navbar-brand" href="#">Player's Handbook</span>
          </label>
          <div class="triggerSection">
          </div>
        </nav>
      </div>
    </div></div>


    <div class="nav-area section widescreen">
      <nav id="navbar-left" class="pagenav section navbar navbar-light">
        <a class="navbar-brand" href="#">Player's Handbook</a>
        <nav id="nav-sections" class="nav nav-pills flex-column">
        </nav>
      </nav>
    </div>
    <main id="main-scrollspy" class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="scrollspy-content">
        {{ content }}
        </div>
      </div>
    </main>
  <div class="nav-area right widescreen">
    <nav id="navbar-right" class="pagenav right navbar navbar-light">
      <nav id="nav-subsections" class="nav nav-pills">
      </nav>
    </nav>
  </div>

    <div class="background mobile bottom">
      <div class="wrapper mobile bottom">
        <div class="nav-area subsection mobile">
          <nav id="navbar-subsections-mobile" class="navbar navbar-light">
          </nav>
        </div>
      </div>
    </div>


    {%- include footer.html -%}

  </body>

</html>

<script>
  {%- include js/scrollspy.js -%}
</script>